{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{"docs/baslangic/introduction/" | relURL }}" role="button">Hadi başlayalım</a>
      <p class="meta">Open-source MIT Licensed. <a href="https://github.com/h-enk/doks">GitHub v{{ $data := getJSON
          "https://raw.githubusercontent.com/h-enk/doks/master/package.json" }}{{ $data.version }}</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Stack</h2>
        <p>Stack doğrusal (linear) bir veri yapısıdır ve adından da anlaşılabileceği üzere verileri yığın halinde saklar
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Queue</h2>
        <p>Queue, verilerin sırayla kullanıldığı ve ilk giren verinin sıranın önünde olduğu için ilk çıktığı bir veri
          yapıdır. </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Linked List</h2>
        <p>Linked List (Bağlı liste), node/link diye adlandırılan yapılardan oluşur, bu yapılar veriyi ve kendisinden
          sonraki yapıyı tutar</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Ağaç Yapısı</h2>
        <p>Bilgisayar biliminde, ağaç veri düğümleri ve düğümler arası ilişkileri belirten kenarlardan oluşan, ters bir ağacı andıran veri yapısıdır</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Graph yapısı</h2>
        <p>Graf, matematiksel anlamda, düğümlerden
          ve bu düğümler arasındaki ilişkiyi gösteren
          kenarlardan oluşan bir kümedir. </p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid"
  style="display: flex; justify-content: space-between; height: 160px;">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}